<ion-header>
  <ion-toolbar>
    <ion-title>
      Example HTTP with Promises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-header translucent>      
    <ion-toolbar>
      <ion-searchbar         
        placeholder="Search"
        (ionInput)="searchSong($event)"          
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-list>
    <ion-item *ngFor="let song of searchService.result">
      <ion-label>
        {{ song }}
      </ion-label>

    </ion-item>
  </ion-list> -->

</ion-content>